/*ici les variables utiles*/
$navFooterColor: black;
$headerSectionColor: #1c94cc;
$color: white;

/*menu navigation*/
@import '../modulescss/nav.scss';
/*le header*/
header{

    background-color: $headerSectionColor;
    height: 500px;
}

.logo{

    float:left;
    padding-left: 50px;
    padding-top: 30px;
}
h1,h2{
    text-align: center;
    color: $color;
    font-family: 'Source Sans Pro', sans-serif;
}
h1{
    padding-top: 60px;
}
.buttonH{

    border: 2px solid $color;
    background-color: orange;
    color: $color;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
    top: 10%;
    left: 30%;

}

#middle{

    text-align: center;
    padding-left: 340px;
    color: black;
    font: {
        size: 25px;
        family:'Source Sans Pro', sans-serif;
    } 
    
}
/*section simple for use*/
section{

    background-color:$headerSectionColor;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.info{
    p{
        color: whitesmoke;
    }
    h2{
        text-align: left;
    }
    
}

#team{
    color: rgb(148, 144, 144);
    text-align:right;
    font-size: 25px;
    margin-right: 30px;
    font-weight: lighter;
}
/*partie grise avec les logos*/
.promo{

    display: grid;
    background-color: rgb(228,228,228);
    grid-template-columns: repeat(6,1fr);
    height: 300px;
    padding-top: 50px;
    padding-left: 60px;
    
}

.imgpromo{
    height:100px;
    width: 100px;
}
.product{

    grid-column-start: 3;
    height: 200px;
    width: 200px;
    padding-left: 50px;

}
.click{

    height: 180px;
    background-color: $color;
    padding: 80px;
    margin-left: 200px;
}

.buttonC{

    text-decoration: none;
    border: 3px solid $color;
    background-color: #1c94cc;
    color: $color;
    padding: 10px;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:30px;
}
.click .buttonC:nth-child(3){

    background-color: orange;
}
footer{

    background-color: $navFooterColor;
    color: $color;
    font-size:12px;
    height: 100px;
}
.foot{

    display: inline;
    padding: 5px;
    border-right: 1px dotted $color;
    
}

.foot2{

    display: inline;
    padding: 5px;
    
}
.foot3{

    display: inline;
    padding: 5px;
    margin-left: 700px;
    
}
