body{
    background-color: blanchedalmond;
}
/* citation + nav*/
a{
    text-decoration: none;
    color: black;
}
#don{
    text-decoration: none;
    color: black;
}
#don:hover{
    color:white;
}
#citation{
    text-align: justify;
    margin-left: 35%;
    padding-top: 30px;
}
nav{
    text-align: center;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    padding: 20px;
}
li:hover{
    font-size: 25px;
    font-weight: bold;
    transition-duration: 2s;
    background-color: red;
    color:white;
    
}
div{
    background-image: url(../images/corrida.jpg);
    background-repeat: no-repeat;
    height: 130px;
    background-position: center;
}
.menu{
    font-size: 16px;
    width: 130px;
    background: black;
    color:white;
}

.sousmenu{

    display: none;
}
nav>ul>li{
    position: relative;
}

.deroulant:hover>.sousmenu{
    position: absolute;
    z-index: 1000;
    display: inline-block;
    left:-30%;
    top: 100%;
    
    
}
/* Le header */
h1{
    text-align: center;
    font-size: 30px;
    margin-left: 100px;
    padding-bottom: 60px;
    padding-top: 15px;
}
#Intro{

    display: grid;
    grid-template-columns:repeat(2,1fr);
    height: 500px;
    border: 2px solid red;
}
#taureau{

    width: 400px;
    height: 400px;
    padding: 50px;
}
.paraI{
    text-align: justify;
    padding-left: 80px;
    
}
article{

    padding-right: 70px;
}

#info{

    text-decoration: none;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 40%;
    line-height: 4;
    color:black;
}

h2{
    border-bottom: 2px solid red;
    margin-left: 120px;
    margin-right: 180px;
}
/* ici commence la mise en page de la section combat*/
#combat{

    display: grid;
    grid-template-columns:repeat(2,1fr);
    height: 500px;
    border: 2px solid red;
    margin-left: 120px;
    margin-right: 180px;
    padding-bottom: 120px;
}

.gif1{

    height: 80px;
    width: 80px;
    position: relative;
    left: 20%;
    top: 60%;
}
.gif2{

    height: 80px;
    width: 80px;
    position: relative;
    top:60%;
    left:0%;
}
.soustitreL{

    padding-left: 20px;
    border-bottom: 2px solid red;
    margin-left: 210px;
}
.paraL{

    text-align: left;
    padding-left: 210px;
}
.soustitreR{

    padding-left: 20px;
    border-bottom: 2px solid red;
    margin-left: 100px;
    margin-right:110px;
}
.paraR{

    text-align: left;
    padding-left: 100px;
    margin-right: 100px;
}
/*ici commence la partie pour la section general*/

#general{
    height: 1800px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 2px solid red;
    margin-left: 120px;
    margin-right: 180px;
}

.generaliL{

    width: 250px;
    height: 250px;
    position: relative;
    left: 30%;
    top: 10%
}
.generaliL:hover{
    width: 300px;
    height: 300px;
    transition-duration: 3s;
}
.generaliR{

    width: 250px;
    height: 250px;
    left: 30%;
    top: 10%;
    position: relative;
}
.generaliR:hover{
    width: 300px;
    height: 300px;
    transition-duration: 3s;
}
.generalssL{

    text-align: left;
    margin-left: 125px;
    padding-top: 50px;
}
.generalssR{

    text-align: left;
    margin-left: 125px;
    padding-top: 50px;
}
.geneppL{
    text-align: left;
    margin-left: 125px;
    padding-bottom: 10px;
}
.geneppR{
    text-align: left;
    margin-left: 125px;
    padding-bottom: 10px;
}
.generalClick{

  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  margin-left: 200px;
}
.bordureArticle{

    border-left: 2px solid rgb(250, 226, 180);
    border-bottom: 2px solid rgb(250, 226, 180);
}

.menufin{

    text-align: left;
    margin-left: 80px;
}

.logo{

    margin-left: 400px;
    
}
.foot{

    line-height:1 ;
}
.tweetface:hover{

    display:none;
}
